Testrun.md

This is a test while at home to see if I can do this!

Crossing my fingers it works! LOL!